* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

body {
  background-color: #F5F5F5;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  font-family: sans-serif;
}

.wrapper {
  width: 100%;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  flex-direction: column;
  position: relative;
  border: 3px dashed silver;
}

#figure {
  width: 300px;
  height: 300px;
  background-image: linear-gradient(
    #FF0000,
    #FFA000,
    #FFFF00,
    #00FF00,
    #00FFFF,
    #0000FF,
    #FF00FF
    );
  border-radius: 50%;
}

span {
  position: absolute;
  width: 5%;
  height: 5%;
  background-color: white;
  border: 1px solid black;
}

#left {
  top: calc(50% - 2.5%);
  left: calc(0% - 2.5%);
}

#top {
  top: calc(0% - 2.5%);
  left: calc(50% - 2.5%);
}

#right {
  top: calc(50% - 2.5%);
  left: calc(100% - 2.5%);
}

#bottom {
  top: calc(100% - 2.5%);
  left: calc(50% - 2.5%);
}
